.footer{
    /* Rectangle 698 */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-end;
justify-content:space-between; 
padding: 0em;
width: 100%;
height: 100%;
left: 0em;
background: linear-gradient(90deg, #8C43E6 0%, #EF8D6D 100%); 
}

.footer-t{
    font-size: 1.4em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bolder;
}

.facebook{
    background-image:url("../Iconos/facebook.png");
    background-repeat:no-repeat ;
    background-size: 2.4em;
    width: 2.4em;
    height: 2.4em;
   
    
}
.youtube{
    background-image:url("../Iconos/youtube.png");
    background-repeat:no-repeat ;
    background-size: 2.4em;
    width: 2.4em;
    height: 2.4em;
    
   
}
.instagram{
    background-image:url("../Iconos/instagram.png");
    background-repeat:no-repeat ;
    background-size: 2.6em;
    width: 2.6em;
    height: 2.6em;
    margin-top:-0.2em;
   
   
}
.twitter{
    background-image:url("../Iconos/twitter.png");
    background-repeat:no-repeat ;
    background-size: 2.6em;
    width: 2.6em;
    height: 2.6em;
    margin-top:-0.2em;
    
}
.mojarralogo{
    background-image:url("../Iconos/Mojarra.png");
    background-repeat:no-repeat ;
    background-size: 24em;
    width: 24em;
    height: 8em;
    bottom:0;
   
}

.redes{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 3em);
    gap: 1em;
    margin: 0.5em; 
    padding: 0em;
    place-content: center;
    cursor: pointer;
}


