.horizontalCardContainer {
    margin-top: 1.5em;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    /* justify-items: baseline; */
    overflow-x: auto;
    width: 100%;
    font-style: bold;
    /* flex-wrap: wrap; */
}

.horizontalCardContainerOfertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    margin: 0;
    padding: 0;
    place-content: center;
}

h1 {
    font-weight: bold !important;
    font-size: 3em;

}

.inputProductosCerca {
    width: 100%;
    height: 3em;
    justify-content: center;
    padding-left: 2em;
    color: #000000;
    font-size: 1em;
}

.inputProductosCerca input[type="text"] {
    letter-spacing: 1px;
    background-color: #ffffff;
    color: #000000;
}

.horizontalCardContainer::-webkit-scrollbar {
    display: none;
}

* {
    /* font-family: 'Inter', 'sans-serif'; */
    font-style: bold;
    /* or 40% */

    color: #000000;
}

.mapsContainer iframe {
    min-height: 350px;
}

.home {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #f0f0f0;
}

.contenido {
    width: 85%;
}

.card {
    float: left;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.15);
}

.seccionButton {
    padding: 10px;
    background: linear-gradient(90deg, #8C43E6 0%, #EF8D6D 100%);
    box-shadow: 0px 1px 0px #E5E9F2;
    border-radius: 20px;
    width: fit-content;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.seccionButton p {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.row-inline-2 {
    display: flex;
}

.row-inline-2>div {
    width: 50%;
    margin: 20px;
    min-width: 300px;
}

.card.producto {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.card.producto button {
    margin-top: 0.5em;
    height: 2em;
    width: 8em;
    background: #8C43E6;
    border-radius: 50px;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    border-width: 0px;
}

.rowElementContainer input {
    border-width: 0px;
    border-radius: 20px;

}

@media (max-width: 1024px) {
    .row-inline-2 {
      display: block;
    }
    iframe {
        min-height: 350px;
        margin-top: 0px;
        padding: 0;
        height: 100%;
        width: 100%;
    }
}

