.horizontalCardContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-x: auto;
    /*flex-wrap: wrap;*/
}

h3 {
    font-weight: bold;
    font-size: 1.5em;

}

.horizontalCardContainer::-webkit-scrollbar {
    display: none;
}

* {
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    /* or 40% */

    font-feature-settings: 'salt' on, 'liga' off;

    color: #000000;
}

.mapsContainer iframe {
    min-height: 350px;
}

.home {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #E5E5E5;
}

.contenido {
    width: 85%;
}

.card {
    float: left;
}

.seccionButton {
    padding: 10px;
    background: linear-gradient(90deg, #8C43E6 0%, #EF8D6D 100%);
    box-shadow: 0px 1px 0px #E5E9F2;
    border-radius: 20px;
    width: fit-content;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.seccionButton p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.row-inline-2 {
    display: flex;
}

.row-inline-2>div {
    width: 50%;
    margin: 20px;
    min-width: 300px;
}

.card.producto {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.card.producto button {
    background: #8C43E6;
    border-radius: 50px;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    border-width: 0px;
}

.rowElementContainer input {
    border-width: 0px;
    border-radius: 20px;

}