.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #8C43E6 0%, #EF8D6D 100%);
  padding: 10px 30px;

}

.navbar-logo img {
  height: 50px;
  border-radius: 50%;
}

.navbar-menu img {
  height: 30px;
  cursor: pointer;
}

.textCategorias {
  color: white;
  font-weight: bold;
}

.navbar-search {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search input[type="text"] {
  width: 100%;
  max-width: 400px;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-search input[type="text"]::placeholder {
  color: #6c6767;
  opacity: 0.8;
}

.navbar-login button {
  background-color: #EF8D6D;
  color: #fff;
  text-decoration-line: underline;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navbar-login button:hover {
  background-color: #8C43E6;
}

.navbar-user img {
  height: 40px;
  cursor: pointer;
}

.navbar-carrito img {
  height: 50px;
  cursor: pointer;
}


@media (max-width: 600px) {
  .navbar-login {
    display: none;
  }
  .textCategorias{
    display: none;
  }
  .navbar-user {
    display: block;
  }
}