.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  padding: 10px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 50px;
  border-radius: 50%;
}


.navbar-search {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search input[type="text"] {
  width: 100%;
  max-width: 400px;
  margin: 0 20px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* .navbar-search input[type="text"] {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #1db954;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.navbar-search input[type="text"]::placeholder {
  color: #6c6767;
  opacity: 0.8;
}

.navbar-login button {
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navbar-login button:hover {
  background-color: #148638;
}
